body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  padding: 2rem;
}
header {
  margin-bottom: 2em;
}
.logo {
  height: 5em;
  margin-right: 1em;
}

.button-select {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.input-input {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.end {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 2.5em;
  margin-right: 5em;
}

.full-width {
  width: 60%;
}
